*.ts text eol = lf
*.vue text eol = lf
*.json text eol = lf
*.json text eol = lf
*.yaml text eol = lf
*.md text eol = lf
*.html text eol = lf
*.yml text eol = lf
.env.* text eol = lf
.*ignore text eol = lf
.*rc text eol = lf