/** @format */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  text-align: left;
  -webkit-user-select: none;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}
h2 {
  font-size: 64px;
  font-weight: lighter;
}
h3 {
  font-size: 56px;
  font-weight: lighter;
}
h4 {
  font-size: 48px;
  font-weight: lighter;
}
.full-width {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
