name: Auto Tests

on:
  workflow_dispatch

jobs:
  Test:
    runs-on: [windows-latest]

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Setup PNPM
        uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.30.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependences
        run: pnpm install --no-frozen-lockfile
      - name: Enjoy tests
        run: pnpx jest --passWithNoTests
